---
const {title ,style, icon: Icon} = Astro.props
---


<button class=`h-[40px] w-min-[83px]  rounded-xl bg-primary-btn-blue  px-4  border border-solid-lightBlue btn-outer-dropShadow  btn-inner-dropShadow ${style}`>
    <p class="text-white font-semibold">{title}</p>
    {Icon && <span class="text-white text-xs space-x-2"><Icon/></span>}
</button>