---
const {title} = Astro.props
---


<button class="h-[40px] w-[83px] text-white text-xs rounded-md bg-primary-btn-blue font-semibold py-[10px] px-[16px] border border-solid-lightBlue btn-outer-dropShadow btn-inner-dropShadow">
    {title}
</button>