

<div class="px-page-padding w-full ">
    <div class="flex gap-2 py-6 justify-center border-b border-r border-l border-gray-300 w-full">
        <p class="font-geistMono text-lighterBlue py-2">Looking for <span class="font-bold">DataStudio</span>?</p>
        <button class="border border-gray-400 rounded-xl py-2 px-4 font-geistMono font-semibold text-darkBlue text-sm">Check it out</button>
    </div>
</div>