---
const {title} = Astro.props
---

<div class="relative w-40 mx-auto my-10">
    <div class="border border-gray-400 bg-white text-center rounded-3xl font-geistMono py-1 px-4 ">
        <p>{title}</p>
    </div>
    <div class=" bg-box-gradient absolute bottom-2 rounded-xl h-8 w-40 z-10"></div>
</div>