---
import Digit from "./Digit.astro";

---

<div class="w-96 h-60 ">
    <Digit number='01'/>
    <p class="text-darkBlue font-bold text-xl text-wrap">Install SuperMetrics and create an account</p>
    <p class="text-lighterBlue text-md">Installation is quick, and creating a SuperMetrics account is completely free.</p>
</div>