---
import {TurstedByImages} from '../content/allImges'
---

<div class="px-page-padding border-t border-b border-gray-200 bg-white">
    <div class=" border-r border-l border-gray-200 py-16">
        <div class="">
            <h1 class="font-geistMono text-center text-lg text-lighterBlue">Trusted by 5000+ marketing professionals</h1>
            <div class="flex justify-around py-5 mt-10">
                {TurstedByImages.map(({ src, alt } : {src: string, alt: string}) => (
                  <img src={src} alt={alt} />
                ))}
            </div>
        </div>
    </div>
</div>
